@font-face {
  font-family: Satoshi-Variable;
  src: url("Satoshi-Variable.44049a53.woff2") format("woff2"), url("Satoshi-Variable.b8020c36.woff") format("woff"), url("Satoshi-Variable.f8046be0.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi-VariableItalic;
  src: url("Satoshi-VariableItalic.23ed0ed2.woff2") format("woff2"), url("Satoshi-VariableItalic.ef62d134.woff") format("woff"), url("Satoshi-VariableItalic.762851c7.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Satoshi-Light;
  src: url("Satoshi-Light.3b65d62c.woff2") format("woff2"), url("Satoshi-Light.f375b83e.woff") format("woff"), url("Satoshi-Light.afa4475a.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi-LightItalic;
  src: url("Satoshi-LightItalic.667b216e.woff2") format("woff2"), url("Satoshi-LightItalic.2b7df444.woff") format("woff"), url("Satoshi-LightItalic.204d5dc1.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Satoshi-Regular;
  src: url("Satoshi-Regular.92898f98.woff2") format("woff2"), url("Satoshi-Regular.272d6f73.woff") format("woff"), url("Satoshi-Regular.9115075a.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi-Italic;
  src: url("Satoshi-Italic.7f5a2dfd.woff2") format("woff2"), url("Satoshi-Italic.1e8ed0f4.woff") format("woff"), url("Satoshi-Italic.29d55130.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Satoshi-Medium;
  src: url("Satoshi-Medium.6c064292.woff2") format("woff2"), url("Satoshi-Medium.69298096.woff") format("woff"), url("Satoshi-Medium.73d5e67f.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi-MediumItalic;
  src: url("Satoshi-MediumItalic.ca83ab62.woff2") format("woff2"), url("Satoshi-MediumItalic.0dc0404e.woff") format("woff"), url("Satoshi-MediumItalic.f82ba831.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Satoshi-Bold;
  src: url("Satoshi-Bold.96e924ab.woff2") format("woff2"), url("Satoshi-Bold.8e2cbffc.woff") format("woff"), url("Satoshi-Bold.09cb2db2.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi-BoldItalic;
  src: url("Satoshi-BoldItalic.ee6fdea5.woff2") format("woff2"), url("Satoshi-BoldItalic.d1943872.woff") format("woff"), url("Satoshi-BoldItalic.3eecb49f.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: Satoshi-Black;
  src: url("Satoshi-Black.5a25fce7.woff2") format("woff2"), url("Satoshi-Black.9e8441db.woff") format("woff"), url("Satoshi-Black.619c529d.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: Satoshi-BlackItalic;
  src: url("Satoshi-BlackItalic.e2df837d.woff2") format("woff2"), url("Satoshi-BlackItalic.91b34f8d.woff") format("woff"), url("Satoshi-BlackItalic.26907823.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
/*# sourceMappingURL=kraftflix.b2eec22d.css.map */
