// src\scss\code.scss
@import url('./fonts/satoshi.css');
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import 'bootstrap/scss/bootstrap';

@font-face {
  font-family: 'JapaneseFont';
  src: url('./fonts/Japanese.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

$pri-font: 'JapaneseFont', sans-serif;
$sec-font: 'Bebas Neue', sans-serif;
$ter-font: 'Satoshi-Variable';
$p-font: 'Roboto', system-ui;

$primary-color: #ff00a2;

$toggler-color-1: #00aba9; // Farbe für den ersten Strich des Toggler-Buttons
$toggler-color-2: #ff00a2; // Farbe für den zweiten Strich des Toggler-Buttons
$toggler-color-3: #f09609; // Farbe für den dritten Strich des Toggler-Buttons

// @import 'bootstrap/scss/bootstrap';

// *********************************************************
// ---- Body ----------------------------------------------
// *********************************************************

body {
  padding-top: 6rem;
  margin: 0;
  background-color: black;
  font-family: $ter-font;
  color: white;
}

// *********************************************************
// ---- Grid ----------------------------------------------
// *********************************************************

.main-container {
  // margin-top: 6rem;
  // border: 1px solid red;
  background-color: black;
}

.main-row {
  // border: 1px solid greenyellow;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.main-col {
  // border: 1px solid orange;
  margin: 0;
  padding: 0;
}
// *********************************************************
// ---- Text & Elements ------------------------------------
// *********************************************************
h1 {
  font-family: $sec-font;
  font-size: 4.5rem;
}
h2 {
  margin-top: 2rem;
  font-family: $sec-font;
  font-size: 2rem;
}
h3 {
  margin-top: 2rem;
  font-family: $sec-font;
  font-size: 2rem;
  // color: $toggler-color-1;
}
h4 {
  margin-top: 2rem;
  font-family: $sec-font;
  font-size: 1.7rem;
  // color: $toggler-color-3;
}
h5 {
  font-family: $sec-font;
  color: white;
}
p {
  font-family: $ter-font;
  line-height: 125%;
}
ul {
  margin-bottom: 2rem;
}
a {
  font-family: $sec-font;
  font-size: 1.5rem;
  color: $primary-color;
  transition: color 0.2s ease-in;
  &:hover {
    color: white;
  }
}
// body
//   > div.container.main-container
//   > div.row.main-row.site-heading-container
//   > div
//   > section:nth-child(4)
//   > a:nth-child(3) {
//   font-family: $sec-font;
//   font-size: 1.5rem;
//   color: $primary-color;
//   transition: all 0.3s ease-in;
//   :hover {
//     transform: scale(1.5);
//     color: white;
//   }
// }

.list-group {
  border-color: pink;
}
.list-group-item {
  background-color: black;
  border-color: white;
  color: white;
  opacity: 1;
}

// *********************************************************
// ---- Laufschrift ---------------------------------------
// *********************************************************

/* Container für den Lauftext */
.marquee-container {
  width: 100%; /* Breite des Containers */
  height: auto;
  overflow: hidden; /* Verhindert das Überlaufen des Textes */
  white-space: nowrap; /* Text in einer Zeile halten */
  box-sizing: border-box;
}

/* Lauftext selbst */
.marquee-text {
  font-family: $sec-font;
  font-size: 7rem;
  color: $primary-color;
  margin: 0;
  padding: 0;
  display: inline-block;
  padding-left: 100%; /* Start außerhalb des Containers */
  animation: marquee 10s linear infinite; /* Animation */
}

/* Keyframes für die Lauftext-Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  } /* Start von rechts */
  100% {
    transform: translateX(-100%);
  } /* Ende links außen */
}

// *********************************************************
// -- Bilder-Galerie -------------
// *********************************************************
.carousel-item img {
  height: 30vh; /* 60% der Viewport-Höhe */
  width: 50%;
  object-fit: contain;
}

// @media (max-width: 768px) {
//   .carousel-item img {
//     height: 40vh; /* Kleinere Höhe für mobile Geräte */
//   }
// }
.gallery {
  justify-items: center;
  // border: 1px solid white;
  margin-bottom: 2rem;
}

// *********************************************************
// -- NAVIGATION -------------
// *********************************************************

.navigation-col {
  padding: 0;
  width: 100%;
}

// ---- NAVBAR ----
.navbar {
  background-color: rgba(0, 0, 0, 0.85);
  // backdrop-filter: blur(10px); /* Unschärfe-Effekt für den Hintergrund */
  // border: 1px solid #f09609;
}

// ----  Brand ----
.navbar-brand {
  color: white;
  font-family: $pri-font;
  // font-size: 4rem;
  font-size: 3rem;
  &:hover {
    color: $primary-color;
  }
  &.active {
    color: $primary-color !important;
  }
  &.show {
    color: $primary-color !important;
  }
  @media screen and (max-width: 575px) {
    // font-size: 2.4rem;
    font-size: 1.7rem;
  }
}

// ************************
// ---- CUSTOM TOGGLER ----
// ************************

// **** BUTTON ****
.navbar-toggler {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 3rem;
  @media screen and (max-width: 575px) {
    width: 2rem;
    height: 2rem;
  }
}

// **** STRICH-CONTAINER (div) ****
.navbar-toggler .tripple-line-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // width: 3rem;
  // height: 2.7rem;
  width: 2.5rem;
  height: 2.3rem;
  // @media screen and (max-width: 767px) {
  @media screen and (max-width: 575px) {
    // width: 2rem;
    // height: 1.8rem;
    width: 1.5rem;
    height: 1.3rem;
  }
}
// **** Striche (alle) ****
.custom-hr {
  opacity: 1;
  margin: 0;
  padding: 0 0.2rem;
  border: none;
  width: 100%;
  height: 6px; /* Dicke der Striche */
  @media screen and (max-width: 575px) {
    // @media screen and (max-width: 767px) {
    // height: 4px; /* Dicke der Striche */
    height: 3px; /* Dicke der Striche */
  }
}

// **** Striche (einzeln) ****
.hr-1 {
  background-color: #00aba9;
}
.hr-2 {
  background-color: $primary-color;
}
.hr-3 {
  background-color: #f09609;
}

// *********************************************************
// -- OFFCANVAS --
// *********************************************************

.offcanvas {
  font-family: $sec-font;
  background-color: black;
  padding: 1% 10%;
  @media screen and (max-width: 575px) {
    padding: 0;
  }
  .footer {
    padding: 0;
  }

  @media screen and (max-width: 400px) {
    .logo {
      padding-left: 8px;
    }
  }
}

.offcanvas-body {
  background-color: black;
}
.close-b-container {
  display: flex;
  justify-content: end;
  background-color: black;
}
.btn-close {
  justify-self: end;

  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  opacity: 1;
  // scale: 4;
  width: 40px; /* Breite des Buttons */
  height: 40px; /* Höhe des Buttons */
  background-size: 30px 30px; /* Größe des eingebetteten SVG-Bilds */
  padding-right: 1rem; /* Falls mehr Platz vom Rand benötigt wird */
  padding-left: 0;
}
.btn-close:hover {
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff00a2'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}
.offcanvas-header {
  background-color: black;
  padding-right: 1rem;
  justify-content: flex-start; /* Elemente nach links ausrichten */
}

.offcanvas-title {
  color: $primary-color;
  font-family: $pri-font;
  font-size: 2.4rem;
  margin-right: 10px;
  padding-right: 10px;
}

.nav-link {
  color: white;
  // font-family: $ter-font;
  text-transform: uppercase;
  font-size: 3rem;
  &:hover {
    color: $primary-color;
  }
  &.active {
    color: $primary-color !important;
  }
  @media screen and (max-width: 565px) {
    font-size: 3rem;
  }
}
// Dropdown Menü-Oberpunkt
.dropdown-toggle {
  color: white;

  &.show {
    color: $primary-color !important;
  }
  @media screen and (max-width: 565px) {
    font-size: 3rem;
  }
}
// Dropdown Menü-Container
.dropdown-menu.show {
  background-color: transparent;
  border-color: $primary-color;
  border-color: transparent;
}

.dropdown-item {
  color: white;
  font-family: $ter-font;
  text-transform: uppercase;
  font-size: 2rem;
  &:hover {
    color: $primary-color;
    background-color: transparent;
  }
  &.active {
    color: $primary-color !important;
    background-color: black;
  }
}
.dropdown-divider,
.divider {
  background-color: $primary-color;
}

// *********************************************************
// -- Stripes als Trenner --
// *********************************************************
// -- Stripes --
.footer-stripes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem; // Abstand zwischen den Streifen und dem Footer-Inhalt

  .stripe {
    width: 100%;
    height: 3px; // Dicke der Streifen
    margin-bottom: 6px; // Abstand zwischen den Streifen
  }

  .stripe-1 {
    background-color: $toggler-color-1;
  }

  .stripe-2 {
    background-color: $toggler-color-2;
  }

  .stripe-3 {
    background-color: $toggler-color-3;
    margin-bottom: 0; // Kein Abstand nach dem letzten Streifen
  }
}

// *********************************************************
// -- Footer --
// *********************************************************
.footer-content-row {
  margin-bottom: 2rem;
}

.footer {
  margin-top: auto;

  // -- Stripes --
  .footer-stripes {
    // padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem; // Abstand zwischen den Streifen und dem Footer-Inhalt
    .stripe {
      width: 100%;
      height: 3px; // Dicke der Streifen
      margin-bottom: 6px; // Abstand zwischen den Streifen
    }

    .stripe-1 {
      background-color: $toggler-color-1;
    }

    .stripe-2 {
      background-color: $toggler-color-2;
    }

    .stripe-3 {
      background-color: $toggler-color-3;
      margin-bottom: 0; // Kein Abstand nach dem letzten Streifen
    }
  }
  // LOGO
  .logo {
    padding-right: 0;
    // padding-left: 1rem;

    .a-logo {
      padding: 0;
      font-family: $pri-font;
      color: $primary-color;
      // font-size: 2.5rem;
      font-size: 2rem;

      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: white;
      }

      @media (max-width: 767px) {
        // font-size: 1.5rem;
        font-size: 1.2rem;
      }
    }
  }
  // -- SOCIAL ICONS --
  .social-icons-container {
    padding-left: 0;
    .social-icons {
      .social-icon {
        color: $primary-color;
        // font-size: 1.8rem;
        font-size: 1.5rem;
        margin-left: 3.5rem;
        transition: color 0.3s;
        text-decoration: none; /* Entfernt Unterstreichung */

        &:hover {
          color: white;
        }

        @media (max-width: 575px) {
          // font-size: 1.4rem;
          font-size: 1.1rem;
          margin-left: 1.5rem;
        }
      }
    }
  }
}
